<form class="form-signin">
    <img class="mb-4" src="./docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Login no Sistema</h1>
    <label for="inputEmail" class="sr-only">E-mail</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="E-mail" required autofocus>
    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Lembrar de mim
        </label>
    </div>
    <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Fazer Login</button> -->
    <a class="btn btn-lg btn-primary btn-block" [routerLink]="['/home']">Fazer Login</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2017- {{ ano_atual | date:'yyyy' }}</p>
</form>
